body {
    background-image: url("https://img.freepik.com/free-vector/bar-interior-realistic-composition_1284-24320.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    
}
#sign {
    border: 20px white dotted;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 50px;
    width: 500px;
    text-align: center;
    font-family: 'Asset', cursive;
    font-size: 30px;
    margin: auto;
    margin-top: 35px;
}

#buttons2, #buttons1 {
    width: 200px;
    height: 200px;
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
   
}
p {
    margin: auto;
    margin-top: 75px;
}

